.root {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	padding: 0.625rem;
}

.label {
	padding: 0 0.25rem;
	font-size: 0.8125rem;
	font-weight: 600;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
