.grid {
	overflow-y: auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(32px, 1fr));
	gap: 0.125rem;
	justify-content: center;
}

.btn {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 28px;
	height: 28px;
	padding: 0;
	font-size: 14px;
	color: var(--hui-color-fg);
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 4px;
	transition:
		background-color var(--hui-duration-fast),
		border-color var(--hui-duration-fast);

	&:hover {
		background: var(--hui-color-element);
	}

	&.active {
		background: var(--hui-color-element);
		border-color: var(--hui-color-base);
	}
}
